.popup-menu {
    display: flex;
    align-items: end;
    justify-content: stretch;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 10;
    /* transform: translateX(100%); */
    width: 100%;
    transition: 0.5s ease;
    background-color: rgba(71, 65, 65, 0.5);
  }
  .popup-menu__active{
    pointer-events: all;
    opacity: 1;
  }
  
  .menu-info{
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #faf5ed;
    border-radius: 10px;
    transition: 1s linear;
    transform: translateY(-100%);
  }

  .menu-info__active{
    transform: translateY(0%);
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
  }
  
.header__logo > a {
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.menu__about{
    width: 500px;
    padding: 10px;
}

.menu__link{
    display: flex;
    align-items: center;
    border: 1px solid rgb(129, 125, 125);
    border-radius: 100%;
    padding: 10px;
}