.popup-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transition: 0.5s ease;
  background-color: rgba(71, 65, 65, 0.5);
}

.popup {
  display: grid;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #faf5ed;
  padding: 40px;
}

.popup-bg__active {
  pointer-events: all;
  z-index: 5;
  opacity: 1;
}

.popup-info {
  margin-top: 30px;
  font-size: 17px;
}

h3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.credit-icons {
  border: 1px solid black;
  border-radius: 10px;
  width: 25px;
  height: 25px;
  padding: 7px;
}

.form-popup {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a a ."
    "b c d";
  gap: 10px;
  align-items: end;
}

.error-info {
  position: absolute;
  top: 100%;
  font-size: 14px;
  color: #faf5ed;
}

.error-info__active {
  color: red;
}

.input {
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}
.popup-btn {
  position: relative;
  border: none;
  background-color: black;

  border-radius: 10px;
  height: 52px;
}
.popup-btn .popup-btn__text {
  color: white;
}
.load {
  display: none;
  position: absolute;
  top: 10%;
  left: 40%;
  width: 30px;
  height: 30px;
  border: 6px solid white;
  border-radius: 50%;
  border-right-color: #4070f4;
}

.load_active {
  display: block;
  animation: spin 0.5s ease infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.option {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__number {
  grid-area: a;
  width: 100%;
}

.form__date {
  grid-area: b;
}

.form__cvv {
  grid-area: c;
}

button {
  grid-area: d;
}

::-webkit-datetime-edit {
  /* padding: 1em;  */
}
::-webkit-datetime-edit-fields-wrapper {
  background: transparent;
}
::-webkit-datetime-edit-text {
  color: red;
  padding: 0 0.3em;
  display: none;
}
::-webkit-datetime-edit-month-field {
  color: black;
}
::-webkit-datetime-edit-day-field {
  color: black;
}
::-webkit-datetime-edit-year-field {
  display: none;
}
/* ::-webkit-inner-spin-button { display: block; } */
/* ::-webkit-calendar-picker-indicator { background: transparent; } */

@media (max-width: 620px) {
  .popup {
    padding: 20px;
  }
  .popup-info {
    font-size: 14px;
  }
  .form__number {
    width: 350px;
  }

  .form__cvv {
    width: 170px;
  }
}

@media (max-width: 500px) {
  .form-popup {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "a a"
      "b c"
      "d d";
  }
}

@media (max-width: 400px) {
  .popup {
    padding: 10px;
  }
}
