body{
    height: 100vh;
    width: 100vw;
}

.popup-bg{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup{
    display: grid;
    width: 1000px;
    display: flex;
    flex-direction: column;
    
}

h3{
    display: flex;
    align-items: center;
    gap: 5px;
}

.credit-icons{
    border: 1px solid black;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    padding: 5px;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
            "a a ."
            "b c d";
    gap:10px
}

.option{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__number{
    grid-area: a;
    width: 100%;
}

.form__date{
    grid-area: b;
}

.form__cvv{
    grid-area: c;
}

button{
    grid-area: d;
}

::-webkit-datetime-edit { 
    /* padding: 1em;  */
    
}
::-webkit-datetime-edit-fields-wrapper { background: transparent; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em;display: none; }
::-webkit-datetime-edit-month-field { color: black; }
::-webkit-datetime-edit-day-field { color: black; }
::-webkit-datetime-edit-year-field { display: none; }
/* ::-webkit-inner-spin-button { display: block; } */
/* ::-webkit-calendar-picker-indicator { background: transparent; } */