@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

html::-webkit-scrollbar {
  /* 1 - скроллбар */

  width: 10px;
  height: auto;
  background-color: #faf5ed;
}

html::-webkit-scrollbar-button {
  height: 0px;
}

html::-webkit-scrollbar-track {
  /* 3 - трек */
  /* height: 20px; */
}

html::-webkit-scrollbar-track-piece {
  /* 4 - видимая часть трека */
  /* height: 20px; */
}

html::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  opacity: 0;
  height: 20px;
  border-radius: 5px;
  background-color: #d1d1d1;
}

body {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(41, 40, 38); */
}

.header {
  position: relative;
  padding-top: 20px;
  background-color: #faf5ed;
  /* padding: 0px 20px; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 10px; */
}

.header__logo {
  display: flex;
  margin-left: 20px;
  align-items: center;
  gap: 10px;
}

.header__logo-text {
  font-size: 30px;
  font-style: bold;
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  gap: 10px;
  width: auto;
}

.header__link,
span {
  text-decoration: none;
  color: black;
  letter-spacing: 0.5px;
}

.header__btn-group {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.login {
  background-color: transparent;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.subscribe {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px;
}

main {
  background-color: #faf5ed;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
}

.menu {
  background-color: transparent;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.menu img {
  width: 30px;
}

.author {
  align-content: flex-start;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.author__image {
  margin-right: 10px;
  width: 50px;
  height: 100%;
  border-radius: 30%;
}

.author span {
  height: 50%;
}

h1 {
  background-color: #faf5ed;
  margin-bottom: 30px;
  font-size: 40px;
  text-align: center;
  position: relative;
  text-decoration: underline;
  text-underline-offset: 20px;
}

h2 {
  margin: 15px 0px;
  text-align: center;
  font-family: "Rethink Sans", sans-serif;
}

.news__text {
  font-family: "Rethink Sans", sans-serif;
}

.wrapper {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #faf5ed;
  display: grid;
  padding: 0px 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  column-gap: 40px;
  margin-bottom: 20px;
}

.item {
  position: relative;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item::before {
  content: "";
  height: 1px;
  background-color: #e0dcd5;
  width: 100%;
  position: absolute;
  top: 10px;
}

.item:nth-child(-n + 4):before {
  display: none;
}

.btn {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 40px;
  display: block;
  width: 200px;
  margin: 30px auto;
}

.btn:hover {
  box-shadow: -1px 1px 52px -10px rgba(71, 80, 34, 0.2);
  opacity: 1;
  cursor: pointer;
}

.inactive {
  display: none;
  opacity: 0;
  transition: 3s all linear;
}

.active {
  display: flex;
  opacity: 1;
  margin: 20px 10px;
}

.active::after {
  height: 100%;
  width: 1px;
  content: "";
  position: absolute;
  background: #e0dcd5;
  right: -30px;
  top: 15px;
}

.active:nth-child(4n):after {
  visibility: hidden;
}

.filter-el {
  display: none;
}

.filter {
  opacity: 0;
  pointer-events: none;
  background-color: rgba(71, 65, 65, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transition: 0.5s ease;
}

.filter-active {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  opacity: 1;
}

.filter__group {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 300px;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 25px;
  background-color: #faf5ed;
}

.filter-btn {
  margin-left: 20px;
}

.filter-btn,
.btn-show {
  pointer-events: all;
  background-color: black;
  color: white;
  padding: 5px 5px;
}

/* .filter__group {
  display: flex;
  flex-direction: column;
  position: absolute;
} */

.btn-show-disabled {
  pointer-events: none;
  background-color: gray;
  color: aliceblue;
}

/* 
.active:nth-child(9n + 9):after {
  height: 300px;
  width: 1px;
  content: "";
  position: absolute;
  background: grey;
  right: -30px;
  top: 10px;
}
.active:nth-child(11n + 11):after {
  height: 300px;
  width: 1px;
  content: "";
  position: absolute;
  background: grey;
  right: -30px;
  top: 10px;
}
.active:nth-child(10n + 10):after {
  height: 300px;
  width: 1px;
  content: "";
  position: absolute;
  background: grey;
  right: -30px;
  top: 10px;
} */

.end-news {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  letter-spacing: 0.5px;
  width: 100%;
}

.autor {
  margin: 5px;
}

.text-back {
  background-color: rgb(39, 140, 222);
}

button,
label {
  cursor: pointer;
}

.popup-bg {
  position: absolute;
}

@media (max-width: 768px) {
  body {
    max-width: 768px;
  }

  .header__logo {
    /* display: block;
    height: 100%; */
    margin-left: 10px;
    width: 150px;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .active::after {
    display: none;
  }
}

@media (max-width: 380px) {
  body {
    max-width: 380px;
  }

  .header__logo {
    width: 100px;
  }
  .wrapper {
    grid-template-columns: 1fr;
    column-gap: 0px;
  }

  .header__contact {
    display: none;
  }
}
