* {
  padding: 0;
  margin: 0;
  /* outline: 1px solid; */
}

html {
  /* height: 100%; */
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
}

h1 {
  margin: 30px 0px;
}

h2 {
  margin: 15px 0px;
  text-align: center;
}

.wrapper {
  display: grid;
  flex: 1 0 auto;
  width: 1440px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  column-gap: 40px;
  /* row-gap: 20px; */
  background-color: white;
  border-radius: 10px;
}

.item {
  position: relative;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow: hidden; */
}

.item::before {
  content: "";
  height: 1px;
  background-color: gray;
  width: 100%;
  position: absolute;
  top: 10px;
}

.btn {
  padding: 10px;
  background-color: rgb(124, 151, 234);
  border: 1px solid royalblue;
  border-radius: 40px;
  display: block;
  width: auto;
  margin: 30px 0px;
}

.btn:hover {
  box-shadow: -1px 1px 52px -10px rgba(71, 80, 34, 0.2);
  opacity: 1;
  cursor: pointer;
}

.inactive {
  display: none;
  margin: 0px 10px;
}

.active {
  display: flex;
  position: relative;
  margin: 20px 10px;
}

/* .active::after {
  height: 260px;
  width: 1px;
  content: "";
  position: absolute;
  background: goldenrod;
  right: -30px;
  top: 15px;
}

.active:nth-child(4n):after {
  visibility: hidden;
}

.active:nth-child(3n + 9):after {
  height: 150px;
  width: 1px;
  content: "";
  position: absolute;
  background: goldenrod;
  right: -30px;
  top: 10px;
} */

.autor {
  margin: 5px;
}
