@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

body {
  margin: auto;
  width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(41, 40, 38);
}

.header {
  margin-top: 50px;
  background-color: antiquewhite;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header__logo {
  width: 200px;
  display: block;
  /* костыль какой-то по центрированием */
  position: relative;
  top: 8px;
}

.header__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  gap: 10px;
  width: auto;
}

.header__link,
span {
  text-decoration: none;
  color: black;
  letter-spacing: 0.5px;
}

.header__btn-group {
  display: flex;
  gap: 15px;
}

.login {
  background-color: transparent;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.menu {
  background-color: transparent;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.menu img {
  width: 30px;
}

.author {
  align-content: flex-start;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.author__image {
  margin-right: 10px;
  width: 50px;
  height: 100%;
  border-radius: 30%;
}

.author span {
  height: 50%;
}

h1 {
  background-color: antiquewhite;
  margin-bottom: 30px;
  font-size: 40px;
  width: 100%;
  margin: auto;
  text-align: center;
}

h2 {
  margin: 15px 0px;
  text-align: center;
  font-family: "Rethink Sans", sans-serif;
}

.news__text {
  font-family: "Rethink Sans", sans-serif;
}

.wrapper {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: antiquewhite;
  display: grid;
  flex: 1 0 auto;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 100%;
  column-gap: 40px;
  margin-bottom: 20px;
}

.item {
  position: relative;
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item::before {
  content: "";
  height: 1px;
  background-color: gray;
  width: 100%;
  position: absolute;
  top: 10px;
}

.btn {
  padding: 10px;
  background-color: rgb(124, 151, 234);
  border: 2px solid rgb(72, 112, 232);
  border-radius: 40px;
  display: block;
  width: 200px;
  margin: 30px 0px;
}

.btn:hover {
  box-shadow: -1px 1px 52px -10px rgba(71, 80, 34, 0.2);
  opacity: 1;
  cursor: pointer;
}

.inactive {
  display: none;
  opacity: 0;
  transition: 3s all linear;
}

.active {
  display: flex;
  opacity: 1;
  margin: 20px 10px;
}

.active::after {
  height: 100%;
  width: 1px;
  content: "";
  position: absolute;
  background: grey;
  right: -30px;
  top: 15px;
}

.active:nth-child(4n):after {
  visibility: hidden;
}
/* 
.active:nth-child(9n + 9):after {
  height: 300px;
  width: 1px;
  content: "";
  position: absolute;
  background: grey;
  right: -30px;
  top: 10px;
}
.active:nth-child(11n + 11):after {
  height: 300px;
  width: 1px;
  content: "";
  position: absolute;
  background: grey;
  right: -30px;
  top: 10px;
}
.active:nth-child(10n + 10):after {
  height: 300px;
  width: 1px;
  content: "";
  position: absolute;
  background: grey;
  right: -30px;
  top: 10px;
} */

.autor {
  margin: 5px;
}

@media (max-width: 768px) {
  body {
    max-width: 768px;
  }

  .header__logo {
    width: 150px;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}

@media (max-width: 380px) {
  body {
    max-width: 380px;
  }

  .header__logo {
    width: 100px;
  }
  .wrapper {
    grid-template-columns: 1fr;
    column-gap: 0px;
  }

  .header__contact {
    display: none;
  }
}
